<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Area Restrita</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <link href="img/Icone_CrecheJunqueira.png" rel="icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <!-- Google Web Fonts  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
  </head>
  <body style="overflow: auto">
    <div class="container1">
        <br>
      <!--<header style=" font-family: 'Lobster Two', cursive;">Acesso</header>-->
      <div class="form-outer">
        <header class="header-login">Login</header>
        <form class="form-login" action="adm">
          <div class="page">
            <div class="field">
                <div class="label">E-mail</div>
                <input title="nome" id="nome"  type="text"/>
            </div>
            <br>
            <div class="field">
              <div class="label">Senha</div>
              <input class="input-senha" title="senha" id="senha" type="password"/>
            </div>
            <br>
            <div class="field">
                <button type="button" class="submit btn" id="btnAdm">ACESSAR</button>
            </div>
          </div>  
        </form> 
      </div>       
    </div>
    <script src="/js/admLogin.js"></script>
  </body>
</html>