<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/administrativo/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/administrativo/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Painel 
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/administrativo/css/bootstrap.min.css" rel="stylesheet">

  <link href="/administrativo/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <link href="/administrativo/css/paper-dashboard.css" rel="stylesheet">

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/administrativo/demo/demo.css" rel="stylesheet" />
  <link href="/administrativo/demo/demo.css" rel="stylesheet">
  <link href="/administrativo/demo/demo.css" rel="stylesheet">
</head>


<body class="">

    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo" style="text-align: center;">
            <li>
                <a href="/">
                    <img class="imagem-menu"src="/img/Logo_CrecheJunqueira.png" alt="Logotipo da Creche Junqueira" width="150px"/>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                <li class="active ">
                    <a href="/dashboard">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/voluntarios/">
                    <i class="nc-icon nc-satisfied"></i>
                    <p>voluntários</p>
                    </a>
                </li>
                <li>
                    <a href="/doadores">
                    <i class="nc-icon nc-circle-10"></i>
                    <p>Doadores</p>
                    </a>
                </li>
                <li>
                    <a href="/atividades">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Atividades</p>
                    </a>
                </li>
                <li>
                    <a href="/produtos">
                    <i class="nc-icon nc-shop"></i>
                    <p>Produtos</p>
                    </a>
                </li>
                <li>
                    <a href="/patrimonio">
                    <i class="nc-icon nc-calendar-60"></i>
                    <p>Patrimônio</p>
                    </a>
                </li>
                <li>
                    <a href="/evento">
                    <i class="nc-icon nc-bank"></i>
                    <p>Eventos</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                    <i class="nc-icon nc-caps-small"></i>
                    <p>Caixa</p>
                    </a>
                </li> -->
                <!-- <li class="#">
                    <a href="./upgrade.html">
                    <i class="nc-icon nc-spaceship"></i>
                        <p>Usuários</p>
                    </a>
                </li> -->
                 <li class="#">
                    <a href="/vendas">
                    <i class="nc-icon nc-spaceship"></i>
                        <p>Vendas</p>
                    </a>
                </li> 
                <li>
                    <a href="/saidaEvento">
                    <i class="nc-icon nc-bank"></i>
                    <p>Saida Evento</p>
                    </a>
                </li>
                
                </ul>
            </div>
            </div>
            <!-- CONTEÚDO DAS PÁGINAS - BODY -->
            <main class="main-panel">
                <%- body %>
            </main>
            

            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="footer-nav">
                        </nav>
                        <div class="credits ml-auto">
                            <span class="copyright">
                                © <script>
                                document.write(new Date().getFullYear())
                                </script>, <a href="nextechsolutions">NexTechSolutions</a> 
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/administrativo/js/core/jquery.min.js"></script>
    <script src="/administrativo/js/core/popper.min.js"></script>
    <script src="/administrativo/js/core/bootstrap.min.js"></script>
    <script src="/administrativo/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
<script src="/administrativo/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/administrativo/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/administrativo/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="/administrativo/demo/demo.js"></script>
    <script>
        $(document).ready(function() {
        // Javascript method's body can be found in administrativo/administrativo-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
    </body>
</html>