<script>
    document.addEventListener('DOMContentLoaded', function() {
    })
    

    
</script>

    <link rel="stylesheet" href="/css/estilo.css">

    <style>
        .link {
        display: block;
        margin-bottom: 20px; 
        margin-left: 200px;
    }

    .link a {
        text-decoration: none; 
    }

    .link a:hover {
        background-color:rgb(131, 202, 131); 
        border: none; 
        border-radius: 5px; 
        padding: 10px;
    }

    </style>

<header>Recursos</header>
<div class="link">
    <a class=" btn-primary btn-lis" href="voluntario/">Voluntários Cadastrados</a>
</div>
<br>
<div class="link">
    <a class=" btn-primary btn-doa" href="doadores/">Doadores Cadastrados</a>
</div>
<br>
<div class="link">
    <a class=" btn-primary btn-doa" href="atividades/">Atividades Cadastradas</a>
</div>



    
