
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: #103741;
  font-weight: bolder;
}

header {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  text-align: left;
  margin: 100px 0px 30px 335px;
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width:1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(102 101 161 / 50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


table{
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

td, th{
  /* border:1px solid #FE5D37; */
  border: 1px solid rgb(102 101 161 / 50%);
  text-align: left;
  padding: 8px;
}

th{
  /* background-color: #FFA500; */
  background-color: rgb(102 101 161 / 50%);
  text-align: center;
}

.new{
  text-decoration: none;
  border-radius: 50px;
  background-color: yellow;
  padding: 5px;
  font-size: 16px;
  font-weight: 900;
  padding: 10px;
  margin-right: 150px;
  text-align: center;
}


.form-column {
  flex: 0 0 calc(50% - 20px);
  margin-right: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 18px;
}

.btn{
  /* background-color: #FFA500;  */
  background-color: rgb(206, 131, 206);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float:right;
  font-size: 20px;
}

.btn:hover {
  background-color: green; 
}

/* .btn-lis{
  background-color: #FFA500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  float:left;

  
    display: block;
    width: 200px; 
    margin-bottom: 10px; 
    text-align: center; 
    padding: 10px; 
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
}

.btn-lis:hover {
    background-color: #0056b3; 
}

.btn-doa{
  background-color:green; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  float:left;

 
    display: block;
    width: 200px;
    margin-bottom: 10px; 
    text-align: center;
    padding: 10px; 
    background-color: #00e1ff; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 

}

.btn-doa:hover{
  background-color: #0056b3; 
} */

.required {
  color: red;
}

body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("composicao-colorida-do-quebra-cabeca-infantil.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
}

::selection{
  color: #fff;
  background: #FE5D37;
}

img{
  margin: 2px 10px 0px 752px;
}

.form-login{
  display: block;
  /* flex-wrap: wrap; */
  max-width:500px;
  margin: 0 auto;
  padding: 32px;
  background-color: rgb(102 101 161 / 50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 190px;
}

.header-login{
  font-size: 45px;
  margin: 100px 0px 30px 772px;
}

.input-senha{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 18px;
}

.cadastrar{
  margin: 5px 0px 0px 840px
}

.btnAlterar{
  background-color: rgb(206, 131, 206);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float:right;
  font-size: 20px;
}