
<div class="content" style="height: 100vh;">
    <div class="row">
     <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Cadastrar Atividade</h5>
          </div>
          <div class="card-body" style="box-sizing:initial;">
            <form>
                <div class="row">
                    <div class="col-md-12 px-1 pl-3">
                    <div class="form-group">
                        <label for="descricao" >Nome <b class="required">*</b></label>
                        <input class="form-control" type="text" id="descricao" required>
                    </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="button" class="btn btn-primary btn-round submit cadastrar" id="btnCadastrar">Cadastrar</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
            <!-- <ul>
                <li><a href="https://www.creative-tim.com" target="_blank"></a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
            </ul> -->
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © <script>
                    document.write(new Date().getFullYear())
                    </script>, <a href="nextechsolutions">NexTechSolutions</a> 
                </span>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
    <script src="/js/atividade/cadastrar.js"></script>
</body>
</html>