
  <div class="content" style="height: 100vh;">
    <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Excluir Cadastro de Atividade</h5>
          </div>
          <div class="card-body" style="min-height: 100px;">
            <form>
                <div class="row">
                    <div class="col-md-10 px-1 pl-3">
                    <div class="form-group">
                        <label for="descricao" >Descrição<b class="required">*</b></label>
                        <input disabled class="form-control" type="text" id="descricao" value="<%= atividade.descricao %>" required>
                    </div>
                    </div>
                    <input type="hidden" id="codigo" value="<%= atividade.codigo %>"> 
                </div>
                <br>
                <br>
                <div style="position: relative;">
                    <div style="position: absolute; bottom: 0; right: 0;">
                        <div class="update ml-auto mr-auto">
                            <button type="button" class="btn btn-primary btn-round" id="btnDeletar">Confirmar Exclusão</button>
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
            <!-- <ul>
                <li><a href="https://www.creative-tim.com" target="_blank"></a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
            </ul> -->
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © <script>
                    document.write(new Date().getFullYear())
                    </script>, <a href="nextechsolutions">NexTechSolutions</a> 
                </span>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/js/atividade/deletar.js"></script>
</body>
</html>