<script src="/js/patrimonio/cadastrar.js"></script>
<div class="content" style="height: 100vh;">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Cadastrar Patrimonio</h5>
            </div>
            <div class="card-body" style="box-sizing:initial;">
              <form>
                <div class="row">
                  <div class="col-md-3 pr-1">
                    <div class="form-group">
                      <label for="inputCod">Código<b class="required">*</b></label>
                      <input type="text" class="form-control" placeholder="Ref" id="inputCod">
                    </div>
                  </div>
                  <div class="col-md-9 pl-1">
                    <div class="form-group">
                      <label for="inputDesc">Descrição<b class="required">*</b></label>
                      <input type="text" class="form-control" placeholder="Nome do evento" id="inputDesc">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputQuant">Quantidade<b class="required">*</b></label>
                      <input type="number" class="form-control textarea" placeholder="Quantidade" id="inputQuant"></input>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button class="btn btn-primary btn-round" type="button" id="btnGravar">Cadastrar</button>
                    <a href="/patrimonio" class="btn btn-default btn-round">Voltar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
