<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Seja um Voluntário</title>

    <link  href="/css/estilo.css"rel="stylesheet">
    
    <link href="img/Icone_CrecheJunqueira.png" rel="icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
  
  </head>
  <body>
    <header>Cadastro de Voluntário</header>
    <form>
      <div class="form-column">
        <div class="form-group">
          <label for="nome">Nome Completo <b class="required">*</b></label>
          <input type="text" id="nome" required >
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" maxlength="14" onkeyup="validarCPF(this.value); impedirLetras(this);" placeholder="999.999.999-27">
        </div>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" id="cep" class="mascCEP" onblur="preencherCidadeUFEBairroComCEP(this)">
        </div>
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input type="text" id="logradouro" >
        </div>
        <div class="form-group">
          <label for="numero">Número</label>
          <input type="text" id="numero" required >
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input type="text" id="complemento" >
        </div>
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" id="bairro" >
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input type="text" id="cidade" >
        </div>
        <div class="form-group">
          <label for="uf">UF</label>
          <input type="text" id="uf" size="2" >
        </div>
        <div class="form-group">
          <label for="telefone">Celular <b class="required">*</b></label>
          <input type="text" id="celular" onkeyup="validarCelular(this)" required placeholder="(99) 99999 - 9999">
        </div>
        <div class="form-group">  
          <label for="disponibilidade">Disponibilidade <b class="required">*</b></label>
          <select id="disponibilidade" required>
            <option value="">--Selecione uma Opção--</option> 
            <option value="Presencial">Presencial</option>
            <option value="Hibrido">Híbrido</option>
            <option value="Remoto">Remoto</option>
          </select>
        </div>
      </div>
      <button class="btn btn-success cadastrar" id="btnCadastrar" type="button">Cadastrar</button>
    </form>
    <!-- <a><img class="imagem-menu" src="/img/Logo_CrecheJunqueira.png" alt="Logotipo da Creche Junqueira" width="80px" href="/"/></a> -->
  </body>
  <script src="/js/voluntario/cadastrar.js"></script>
</html>