<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <link href="img/Icone_CrecheJunqueira.png" rel="icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
  </head>

  <body style="overflow: auto">
    <div class="container1">
      <br>
      <div class="form-outer">
        <form action="#">
          <div class="page">
            <div class="title">LOGIN:</div>
            <br>
            <div class="field">
                <div class="label">E-mail</div>
                <input title="email" id="email"  type="text"/>
            </div>
            <div class="field">
              <div class="label">Senha</div>
              <input title="sobrenome" id="senha" type="password"/>
            </div>
            <div class="field">
                <button type="button" class="submit" id="btnAdm">ENTRAR</button>
            </div>
          </div>
        </form>
      </div>          
    </div>
    <script src="/js/admLogin.js"></script>
  </body>
</html>