
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Em manutenção</h1>
        </div>
    </div>
    <div class="modal fade" id="modalCarrinho" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><i class="bi-cart-fill me-1"></i> Carrinho</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tabelaCarrinho">
                    <thead>
                        <th></th>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                        <th></th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div id="valorTotal" style="text-align: end;">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-success" id="btnConfirmarPedido">Confirmar pedido</button>
            </div>
          </div>
        </div>
      </div>
</div>
<script src="/js/vitrine/carrinho.js"></script>
