
       <!-- CARROSSEL DE FOTOS -->

    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-absolute">
                <img class="img-fluid" src="img/carousel-1.jpg" alt="Criança lendo">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-blue animated slideInDown mb-4">Experientes <br/>em educar.<br/>Expecialistas <br/>em acolher.</h1>
                                <!-- <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>                               
                                <h1 class="display-2 text-white animated slideInDown mb-4">Experientes em educar. Expecialistas em acolher</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Junte-se a nós para fazer a diferença</p>
                                <a href="voluntarios/cadastrar" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Seja um Voluntário</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carousel-2.jpg" alt="Criança brincando com cubos coloridos">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-blue animated slideInDown mb-4">Estamos presentes <br/>e atentos a cada <br/>passo do aprendizado.</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2"></p>
                                <!-- <h1 class="display-2 text-white animated slideInDown mb-4">Comprometidos com todas as etapas do aprendizado.</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Ajude-nos a continuar: doe hoje!</p>
                                <a href="doacao" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Fazer Doação</a>
                                <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Our Classes</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <!-- SOBRE NOS  -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Creche Junqueira: Educando e Cuidando desde 1949</h1>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Sobre nós</h1>
                        <p>Creche Junqueira é uma instituição muito antiga que nasceu por uma necessidade muito grande, em uma época de recursos muito escassos. Nossa jornada começou em 26 de dezembro de 1949 com uma nobre missão: proteger mães, crianças e jovens.</p>
                        <p class="mb-4">Pioneiros em nosso município, acolhemos inicialmente cerca de 40 crianças de ambos os sexos, com idades entre 6 meses a 5 anos e 11 meses. Hoje, atendemos cerca de 175 crianças, abrangendo idades de 6 meses a 3 anos e 11 meses.</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a class="btn btn-primary rounded-pill py-3 px-5" href="/sobre_nos">Saiba mais</a>
                            </div>
                            <div class="col-sm-6"><!-- FOTOS DO LADO DO SOBRE-->
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="img/067_314930-e1503699344207 (1).jpg" alt="Crianças fazendo uma refeição">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-2.jpg" alt="Criança brincando">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-3.jpg" alt="Criança com brinquedo de máquina fotográfica tirando foto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!--  Missão, visão e valores Instalações escolares Transformei em MISSÃO, VISÃO E VALORES -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Nosso compromisso...</h1>
                    <p>Proporcionar educação de qualidade, promover a cidadania e o bem-estar das crianças, construindo um futuro promissor para todos.</p>
                </div>
                <div class="row g-4">
                   
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        
                        <div class="facility-item">
                            <div class="facility-icon bg-primary">
                                <span class="bg-primary"></span>
                                <i class="fa fa-bus-alt fa-3x text-primary"></i>
                                <span class="bg-primary"></span>
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">Missão</h3>
                                <p class="mb-0">Proporcionar um ambiente seguro e estimulante para o desenvolvimento <br/>completo das crianças, promovendo educação de qualidade e <br/>bem-estar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon bg-success">
                                <span class="bg-success"></span>
                                <i class="fa fa-futbol fa-3x text-success"></i>
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Visão </h3>
                                <p class="mb-0">Ser uma referência na <br/>promoção da educação<br/> infantil e dos direitos <br/>das crianças, buscando o reconhecimento <br/>pela excelência e <br/>transparência.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon bg-warning">
                                <span class="bg-warning"></span>
                                <i class="fa fa-home fa-3x text-warning"></i>
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">Valores</h3>
                                <p class="mb-0">Compromisso com a criança, ética, <br/> competência, humanização, formação integral,<br/> inovação, <br/>comprometimento e solidariedade.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon bg-info">
                                <span class="bg-info"></span>
                                <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">Objetivos</h3>
                                <p class="mb-0">Desenvolvimento Integral, Excelência Educacional, Humanização e <br/>Solidariedade, <br/>Envolvimento <br/>da<br/> Comunidade</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- SEJA UM VOLUNTARIO -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img title="img" class="position-absolute w-100 h-100 rounded" src="img/SEJA_UM_VOLUNTARIO.png" style="object-fit: cover;"/>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4 alinhamento2">Torne-se um Voluntário</h1>
                                <p class="mb-4 alinhamento">Como voluntário, você terá a oportunidade de fazer uma diferença na vida de nossas criancas e ao mesmo tempo, aprimorar suas próprias habilidades e conhecimentos. 
                                    <br/>Não importa se você tem pouco tempo ou experiência, todas as contribuições são valiosas e muito bem-vindas.
                                    <br/>É uma oportunidade única para fazer a diferença e se tornar parte de algo maior.                                   
                                </p>
                                <p class="alinhamento2">
                                    Junte-se a nós e se torne um voluntário hoje mesmo. 
                                    <br/>
                                </p>
                                <a class="btn btn-primary py-3 px-5" href="voluntarios/cadastrar">QUERO APOIAR<i class="fa fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <!-- CONTATE-NOS -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">Contate-nos</h1>
                                    <div class="row g-3">
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="gname" placeholder="Gurdian Name">
                                                <label for="gname">Nome Completo</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="email" class="form-control border-0" id="gmail" placeholder="Gurdian Email">
                                                <label for="gmail">E-mail</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <!--<input type="text" class="form-control border-0" id="cname" placeholder="Child Name">-->
                                                <!--<label for="cname">Assunto</label>-->
                                                <select title="assunto" name="assunto" class="form-control border-0" id="assunto" style="background-color: white;" class="form-control border-0" name="tipodecontato">
                                                    <option value="0" disabled selected >Assunto:</option>
                                                    <option value="1"> Dúvidas </option>
                                                    <option value="2"> Sugestões </option>
                                                    <option value="3"> Problemas </option>                                     
                                                </select> 
                                            </div>
                                        </div>
                                       <!-- <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="cage" placeholder="Child Age">
                                                <label for="cage">Child Age</label>
                                            </div>
                                        </div>-->
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea class="form-control border-0" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                                <label for="message">Mensagem</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" onclick="validacao()">Enviar Mensagem</button>                                        
                                        </div>
                                        <div class="col-12">
                                            <label for="arquivo" class="btn btn-primary w-100 py-3">
                                                Envie um Arquivo
                                                <input type="file" id="arquivo" name="arquivo" accept=".pdf, .doc, .docx" style="display:none;">
                                            </label>
                                            <!-- <button class="btn btn-primary w-100 py-3" value="documento">Envie um Arquivo</button> -->
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img title="img" class="position-absolute w-100 h-100 rounded" src="img/appointment.jpg" style="object-fit: cover;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Depoimentos!</h1>
                    <p>Descubra o impacto real da Creche Junqueira através das vozes que fazem a diferença. Confira o que mães, voluntários e apoiadores têm a dizer.</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">"É uma ótima creche, todos que fazem parte estão de parabéns! Lutamos e conseguimos os nossos sonhos, que continuem sendo sonhos para as crianças. Muito feliz!"</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Vanda Sanches</h3>
                                <span>Mãe de aluno</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">"Creche Junqueira é muito mais que uma instituição educacional. Para nossa família, representa um lar acolhedor, onde nossos filhos recebem amor, aprendizado e cuidados."</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Juliano Silva</h3>
                                <span>Família Silva</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">"Ser voluntário é uma experiência enriquecedora. Ver o brilho nos olhos das crianças e o empenho da equipe em oferecer uma educação de qualidade é inspirador."</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Mario Santos</h3>
                                <span>Voluntário</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">"Trabalhar na Creche Junqueira é um verdadeiro privilégio. Aqui, não apenas ensinamos, mas também aprendemos com cada criança. É gratificante fazer parte dessa jornada educacional."</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Carla Souza</h3>
                                <span>Professora</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">"A Creche representa para mim um farol de esperança e oportunidade para a nossa comunidade. Sou doador e testemunho de perto a transformação que essa instituição proporciona."</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-5.jpg" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Pedro Mendes</h3>
                                <span>Doador</span>
                            </div>
                            <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    