
        <!-- Page Header End -->
        <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Sobre nós</h1>
            </div>
        </div>
        <!-- Page Header End -->

         <!-- About Start 1-->
         <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Seu nascimento...</h1>
                        <p>Creche Junqueira, uma Organização Não Governamental (ONG) dedicada a iluminar caminhos e oferecer apoio para as mamães e crianças, fundada em 26 de dezembro de 1949. Foi pioneira no município ao ser a primeira instituição a se dedicar a essa causa, atendendo, na época, cerca de 40 crianças, de 06 meses a 05 anos e 11 meses, de ambos os sexos.</p>
                        <p class="mb-4">Os primeiros passos da instituição foram dados nas instalações do Posto de Puericultura, localizado no centro de Martinópolis. Com o tempo, a organização teve que se adaptar e mudar de locais até que, em junho de 2007, finalmente, conseguiu concretizar a construção da sua sede própria, na Rua Domingos Daré, 162, Vila Alegrete, onde permanece até os dias atuais.</p>
                        <p>Desde 2016, com a implementação da Lei de Diretrizes e Bases (LDB) do Ministério da Educação, a instituição tem a capacidade de atender até 175 crianças na faixa etária que abrange desde os 06 meses até os 03 anos e 11 meses. Isso é resultado de um trabalho em equipe voltado para a excelência no atendimento pedagógico e social, com o objetivo de promover uma infância promissora e contribuir para a formação da cidadania.</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="img/pexels-edgar-toro-6106878.jpg" alt="Trabalhador na contrução com uma betoneira">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/pexels-suzy-hazelwood-11212337.jpg" alt="Homem sentado na sua mesa do escritório com máquina de escrever">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/pexels-rahime-gül-10111859.jpg" alt="Crianças sorrindo e pousando para foto">
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <!-- About End 1-->
        
        <!-- About Start 2-->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">A creche hoje...</h1>
                        <p>Hoje, a instituição assegura sua manutenção por meio de convênios municipais e federais, o que reflete seu compromisso inabalável com o cuidado e a formação das crianças que acolhe. Além disso, conta com o apoio inestimável de doadores que acreditam na sua causa, realiza festas beneficentes que unem a comunidade em prol do bem e conta com a colaboração generosa de voluntários que doam tempo e dedicação. É através dessa rede de suporte e comprometimento que a missão da instituição continua a brilhar, tocando vidas e construindo um futuro promissor para todos os envolvidos.</p>
                        <p>Essa instituição tem um impacto significativo na comunidade, como evidenciado pela alta demanda por vagas e pelo reconhecimento como a melhor creche da cidade. Para muitas crianças, não representa apenas um espaço educacional, mas também uma fonte de carinho, proteção e, de forma crucial, de nutrição.</p>
                        <p>A equipe de profissionais oferece apoio pedagógico de alta qualidade, criando um ambiente de aprendizagem enriquecedor para as crianças. A participação dos pais é fundamental, e a instituição busca envolvê-los não apenas na educação de seus filhos, mas também em eventos e atividades da instituição. Essa proximidade com as famílias contribui para o impacto positivo que a instituição busca alcançar.</p>
                        <p>Além do ensino, a instituição também se esforça para proteger as crianças contra abusos e exploração. Campanhas de conscientização e constante capacitação dos colaboradores são realizadas para identificar sinais de violação da integridade das crianças, sempre com cautela e agilidade.</p>
                        <p>A instituição criou um ambiente que estimula o respeito, celebra a diversidade e promove valores de cooperação e comunicação. Essas ações diárias têm um impacto positivo na saúde e no bem-estar das crianças, contribuindo para a formação de cidadãos respeitosos e conscientes.</p>
                        <p>É importante destacar que toda a receita recebida, seja por meio de doações ou de recursos públicos, é integralmente destinada ao benefício da instituição. A instituição garante total transparência em suas atividades, inclusive com avaliação pelo Tribunal de Contas, assegurando que sua missão seja cumprida de forma responsável e eficaz.</p>
                        
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="img/067_314930-e1503699344207 (1).jpg" alt="Crianças fazendo uma refeição">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-2.jpg" alt="Criança brincando">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/about-3.jpg" alt="Criança com brinquedo de máquina fotográfica tirando foto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End 2-->
        <!--  Missão, visão e valores Instalações escolares Transformei em MISSÃO, VISÃO E VALORES -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Nosso compromisso...</h1>
                    <p>Proporcionar educação de qualidade, promover a cidadania e o bem-estar das crianças, construindo um futuro promissor para todos.</p>
                </div>
                <div class="row g-4">
                   
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        
                        <div class="facility-item">
                            <div class="facility-icon bg-primary">
                                <span class="bg-primary"></span>
                                <i class="fa fa-bus-alt fa-3x text-primary"></i>
                                <span class="bg-primary"></span>
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">Missão</h3>
                                <p class="mb-0">Proporcionar um ambiente seguro e estimulante para o desenvolvimento <br/>completo das crianças, promovendo educação de qualidade e <br/>bem-estar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon bg-success">
                                <span class="bg-success"></span>
                                <i class="fa fa-futbol fa-3x text-success"></i>
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Visão </h3>
                                <p class="mb-0">Ser uma referência na <br/>promoção da educação<br/> infantil e dos direitos <br/>das crianças, buscando o reconhecimento <br/>pela excelência e <br/>transparência.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon bg-warning">
                                <span class="bg-warning"></span>
                                <i class="fa fa-home fa-3x text-warning"></i>
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">Valores</h3>
                                <p class="mb-0">Compromisso com a criança, ética, <br/> competência, humanização, formação integral,<br/> inovação, <br/>comprometimento e solidariedade.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon bg-info">
                                <span class="bg-info"></span>
                                <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">Objetivos</h3>
                                <p class="mb-0">Desenvolvimento Integral, Excelência Educacional, Humanização e <br/>Solidariedade, <br/>Envolvimento <br/>da<br/> Comunidade</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCarrinho" tabindex="-1">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><i class="bi-cart-fill me-1"></i> Carrinho</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" id="tabelaCarrinho">
                        <thead>
                            <th></th>
                            <th>Produto</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Valor Total</th>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div id="valorTotal" style="text-align: end;">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-success" id="btnConfirmarPedido">Confirmar pedido</button>
                </div>
              </div>
            </div>
          </div>
          <script src="/js/vitrine/carrinho.js"></script>

