<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% lista.map(function(value, index) { %>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <% if(value.imagem != "") { %>
                            <img class="card-img-top" src="<%= value.imagem %>"/>
                        <% }
                        else { %>
                            <img class="card-img-top" src="/img/sem-foto.png">
                        <% } %>

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><span style="font-weight: bold;"><%= value.eventoNome %></span></h5>
                                <h5 class="fw-bolder"><span style="font-weight: bold;"></span> <%= value.eventoDescricao %></h5>
                            </div>
                        </div> 
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a href="/saidaEvento/saida/<%= value.eventoCodigo %>" class="btn btn-outline-dark mt-auto" href="#">Dar Saida</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</section>