
<body class="">
    <!-- <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo" style="text-align: center;">
                <a href="/">
                    <img class="imagem-menu"src="/img/Logo_CrecheJunqueira.png" alt="Logotipo da Creche Junqueira" width="150px"/>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                <li class="active ">
                    <a href="/dashboard">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/voluntarios/">
                    <i class="nc-icon nc-satisfied"></i>
                    <p>voluntários</p>
                    </a>
                </li>
                <li>
                    <a href="/doadores">
                    <i class="nc-icon nc-circle-10"></i>
                    <p>Doadores</p>
                    </a>
                </li>
                <li>
                    <a href="/atividades">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Atividades</p>
                    </a>
                </li>
                <li>
                    <a href="/produtos">
                    <i class="nc-icon nc-shop"></i>
                    <p>Produtos</p>
                    </a>
                </li>
                <li>
                    <a href="/patrimonio">
                    <i class="nc-icon nc-calendar-60"></i>
                    <p>Patrimônio</p>
                    </a>
                </li>
                <li>
                    <a href="/evento">
                    <i class="nc-icon nc-bank"></i>
                    <p>Eventos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class="nc-icon nc-caps-small"></i>
                    <p>Caixa</p>
                    </a>
                </li>
                <li class="#">
                    <a href="./upgrade.html">
                    <i class="nc-icon nc-spaceship"></i>
                        <p>Usuários</p>
                    </a>
                </li>
                <li class="#">
                    <a href="/vendas">
                    <i class="nc-icon nc-spaceship"></i>
                        <p>Vendas</p>
                    </a>
                </li>
                </ul>
            </div>
            </div> -->
        <div class="dashboard";
        >
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">Painel Administrativo</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="nc-icon nc-zoom-split"></i>
                            </div>
                            </div>
                        </div>
                        </form>
                        <ul class="navbar-nav">
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                
                <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                            <p class="card-category">Voluntários</p>
                            <p class="card-title">150<p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                        <i class="nc-icon nc-satisfied"></i>
                            <a href="/voluntarios" style="text-decoration: none;">Voluntários Cadastrados</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Caixa</p>
                                <p class="card-title">R$ 1.345,00<p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                        <i class="fa fa-calendar-o"></i>
                            <a href="#" style="text-decoration: none;">Extratos</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-calendar-60 text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Atividades</p>
                                <p class="card-title">23<p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                        <i class="fa fa-clock-o"></i>
                            <a href="/atividades" style="text-decoration: none;">Atividades Cadastradas</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                            <p class="card-category">Doadores</p>
                            <p class="card-title">+45K<p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                        <i class="fa fa-refresh"></i>
                            <a href="/doadores" style="text-decoration: none;">Doadores Cadastrados</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Crianças Matriculadas</h5>
                            </div>
                            <div class="card-body">
                                <canvas id="chartTotalEnrollments" width="400" height="150"></canvas>
                            </div>
                            <hr>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Estatísticas de Matrículas</h5>
                                <p class="card-category">Relação de Meninas e Meninos</p>
                            </div>
                            <div class="card-body">
                                <canvas id="chartGenderDistribution" width="400" height="200"></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-danger"></i> Meninas
                                    <i class="fa fa-circle text-info"></i> Meninos
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-title">Total de Voluntários Cadastrados</h5>
                            </div>
                            <div class="card-body">
                                <canvas id="totalVolunteersChart" width="400" height="150"></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-success"></i> Voluntários
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-title">Distribuição dos Voluntários</h5>
                            </div>
                            <div class="card-body">
                                <canvas id="volunteerDistributionChart" width="400" height="300"></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-primary"></i> Presencial
                                    <i class="fa fa-circle text-warning"></i> Remoto
                                    <i class="fa fa-circle text-danger"></i> Híbrido
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="footer-nav">
                        <!-- <ul>
                            <li><a href="https://www.creative-tim.com" target="_blank"></a></li>
                            <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                            <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                        </ul> -->
                        </nav>
                        <div class="credits ml-auto">
                            <span class="copyright">
                                © <script>
                                document.write(new Date().getFullYear())
                                </script>, <a href="nextechsolutions">NexTechSolutions</a> 
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/js/dashboard/core/jquery.min.js"></script>
    <script src="/js/dashboard/core/popper.min.js"></script>
    <script src="/js/dashboard/core/bootstrap.min.js"></script>
    <script src="/js/dashboard/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="/js/dashboard/plugins/chartjs.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/js/dashboard/plugins/bootstrap-notify.js"></script>

    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script src="/js/dashboard/dashboard.js"></script>
    <script>
        $(document).ready(function() {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        demo.initChartsPages();
        });
    </script>


<script>
    var ctx = document.getElementById('chartTotalEnrollments').getContext('2d');

    // Dados de matrículas para meninas e meninos
    var girlsData = [60, 70, 90, 85, 100];
    var boysData = [60, 80, 90, 85, 100];

    // Calculando o total de matrículas
    var totalEnrollmentsData = girlsData.map((num, idx) => num + boysData[idx]);

    var chart = new Chart(ctx, {
        type: 'bar', // Tipo de gráfico (barra)
        data: {
            labels: ['2019', '2020', '2021', '2022', '2023'], // Labels para os anos
            datasets: [
                {
                    label: 'Total de Matrículas',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Cor de fundo
                    borderColor: 'rgba(75, 192, 192, 1)', // Cor da borda
                    borderWidth: 1,
                    data: totalEnrollmentsData // Dados de matrículas totais
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Anos'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantidade de Matrículas'
                    }
                }
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById('chartGenderDistribution').getContext('2d');

    // Dados de matrículas de meninas e meninos
    var girlsData = 250; // Substitua pelo número real de matrículas de meninas
    var boysData = 300;  // Substitua pelo número real de matrículas de meninos

    var chart = new Chart(ctx, {
        type: 'pie', // Tipo de gráfico (pizza)
        data: {
            labels: ['Meninas', 'Meninos'],
            datasets: [{
                label: 'Relação de Matrículas',
                backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'], // Cores de fundo
                borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'], // Cores das bordas
                borderWidth: 1,
                data: [girlsData, boysData] // Dados de matrículas
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

<script>
    // Gráfico de Barras - Total de Voluntários Cadastrados
    var ctxTotal = document.getElementById('totalVolunteersChart').getContext('2d');
    var totalVolunteersChart = new Chart(ctxTotal, {
        type: 'bar', // Tipo de gráfico (barra)
        data: {
            labels: ['2019', '2020', '2021', '2022', '2023'], // Labels para os anos
            datasets: [{
                label: 'Voluntários',
                backgroundColor: 'rgba(0, 128, 0, 0.2)', // Cor verde (alterada de 'rgba(75, 192, 192, 0.2)')
                borderColor: 'rgba(0, 128, 0, 1)', // Cor da borda
                borderWidth: 1,
                data: [200, 250, 300, 350, 400] // Dados de voluntários cadastrados
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Anos'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Quantidade de Voluntários'
                    }
                }
            }
        }
    });

    // Gráfico de Pizza - Distribuição dos Voluntários
    var ctxDistribution = document.getElementById('volunteerDistributionChart').getContext('2d');
    var volunteerDistributionChart = new Chart(ctxDistribution, {
        type: 'pie', // Tipo de gráfico (pizza)
        data: {
            labels: ['Presencial', 'Remoto', 'Híbrido'],
            datasets: [{
                label: 'Distribuição de Voluntários',
                backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(255, 99, 132, 0.2)'], // Cores de fundo
                borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(255, 99, 132, 1)'], // Cores das bordas
                borderWidth: 1,
                data: [150, 100, 50] // Dados de distribuição de voluntários
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

    </body>
</html>
